<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Waitstaff Calculator</title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="main.js" type="text/javascript"></script>


</head>
<body ng-app="main">


<div ng-controller="mealController" class="container">
    <h2>Waitstaff Calculator</h2>

    <div class="mealForm panel panel-default .col-sm-6">
        <div class="panel-heading">
            <h3 class="panel-title">Enter the Meal Details</h3>
        </div>

        <form name="mealDetailForm" class="" ng-submit="submitAMeal(mealDetailForm.$valid)" novalidate/>

        <div class="form-group">
            <label>Meal Price:</label>
            <input type="number" name="mealPrice" class="form-control" ng-model="mealPrice" ng-minlength=1
                   ng-maxlength=4 placeholder="Base Meal Price" required>

            <p ng-show="mealDetailForm.mealPrice.$invalid && !mealDetailForm.mealPrice.$pristine" class="help-block">
                Please enter a number up to 9999.
            </p>
        </div>

        <div class="form-group">
            <label>Tax Percent:</label>
            <input type="number" name="taxRate" class="form-control" ng-model="taxRate" ng-minlength=1
                   ng-maxlength=2 ng-pattern="/^(?!0\d)\d{1,2}(\.\d{1,2})?$/" placeholder="Tax" required>

            <p ng-show="mealDetailForm.taxRate.$invalid && !mealDetailForm.taxRate.$pristine" class="help-block">
                Please enter a number up to 99.
            </p>
        </div>

        <div class="form-group">
            <label>Tip Percent:</label>
            <input type="number" name="tipRate" class="form-control" ng-model="tipRate" ng-minlength=1
                   ng-maxlength=2 ng-pattern="/^(?!0\d)\d{1,2}(\.\d{1,2})?$/" placeholder="Tip" required>

            <p ng-show="mealDetailForm.tipRate.$invalid && !mealDetailForm.tipRate.$pristine" class="help-block">
                Please enter a number up to 99.
            </p>
        </div>

        <div class="error-container" ng-show="signup_form.submitted">
            <p class="help-block">
                One of the inputs wasn't valid.
            </p>
        </div>
        <div class="buttonGroup">
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="button" class="btn btn-default" ng-click="setPristineAndClear()">Clear Inputs</button>
            <button type="button" class="btn btn-default" ng-click="reset()">Reset All Data</button>
        </div>
        </form>

    </div>
    <div ng-controller="customerChargesController" class="customerCharges panel panel-default .col-md-4">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div><label>Subtotal: {{ data.subTotal }}</label></div>
        <div><label>Tax: {{ data.tax }}</label></div>
        <div><label>Tip: {{ data.tip }}</label></div>
        <div><label>Total: {{ data.total }}</label></div>
    </div>
    <div ng-controller="earningsController" class="earnings panel panel-default .col-md-4">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div><label>Tip total: {{ totalTips}} </label></div>
        <div><label>Meal count: {{ mealCount }}</label></div>
        <div><label>Average tip per meal: {{ averageTip }}</label></div>
    </div>

</div>

</body>
</html>
