.panel-heading {
margin-bottom: 5px;
}

.mealDetails {
width: 50%;
margin: 0 auto;
}

h3 {
width: 50%;
margin: 0 auto;
text-align: center;
}

h2 {
width: 50%;
margin: 0 auto;
text-align: center;
}

.buttonGroup {
width: 50%;
margin: 0 auto;
text-align: center;
padding: 2px 2px 10px 2px;
}

